/*Common*/
html{
	height: 100%;
}

body{
	background-image: url("../images/background.png");
	background-repeat: repeat;
	font-family: sans-serif;
	font-size: 14px;
	min-width: 100%;
	margin: 0px;
	display: inline-block;
	height: 100%;
}
#searchbutton {
	width: 4%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


.header{
	width: 100%;
	min-height: 20px;
	height: 8%;
	background-color: #c5c8c8;
	position: relative;
}

.header img{
	width: auto;
	height: 80%;
	vertical-align: top;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 15px;
}

.header>input{
	min-height: 20px;
	height: 70%;
	width: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	vertical-align: top;
	width: 60%;
	margin-left: 10px;
}

.wrapper::before{
	content: "";
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

.wrapper{
	height: 100%;
	width: 100%;
	text-align: center;
}

.frame::before{
	content: "";
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

.frame{
	margin-right: auto;
	margin-left: auto;
	vertical-align: middle;
	display: inline-block;
}

.footer{
	position: fixed;
	display: block;
	vertical-align: bottom;
	margin-bottom: 0px;
	width: 5%;
	background-color: black;
}
#menubar_wrapper {
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;width: auto;
}

#menubar_wrapper.second{
	right: 45px;
}

#menubar_wrapper:hover .hidden_task_bar{
	display: inherit;
}

.hidden_task_bar{
	display: none;
	width: 300px;
	background-color: #c5c8c8;
	margin-right: 0%;
	margin-left: auto;
	position: fixed;
	height: 100%;
	top: 50px;
	right: 0px;
	z-index: 2;
}

.hidden_task_bar>button{
	margin-left: auto;
	margin-right: auto;
}

.hidden_task_bar>img{
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: 50%;
}

.hidden_task_bar>.title{
	margin-left: 15px;
	font-size: 16px;
	margin-bottom: 10px;
}

.kaka {
	cursor: pointer;
}

.task_bar_item{

}

.task_bar_item::before{
	vertical-align: middle;
	content: "";
	display: inline-block;
}

.task_bar_item>a>img{
	display: inline-block;
	width: 13%;
	height: auto;
	margin-left: 10px;
	vertical-align: middle;
}

.task_bar_item>a>div{
	display: inline-block;
	vertical-align: middle;
}

.task_bar_sub_item{
	margin-left: 25px;
}

.task_bar_sub_item::before{
	vertical-align: middle;
	content: "";
	display: inline-block;
}

.task_bar_sub_item>a>img{
	display: inline-block;
	width: 10%;
	height: auto;
	vertical-align: middle;
}

.task_bar_sub_item>a>div{
	display: inline-block;
	vertical-align: middle;
}

a:visited{
	color:black;
	text-decoration: none;
}

a{
	color:black;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color:black;
}

/*Log in/ Register*/

.hiding{
	display: none !important;
}

input,select{
	margin: 5px;
	border-radius: 2px;
	border: 1px #aaa solid;
}

.input_label{
	min-width: 100px;
	margin-left: 0px;
	display: inline-block;
	text-align: left;
}

.textbox{
	min-width: 250px;
	padding: 5px 5px 5px 5px;
	font-size: 18px;
}

.button_block{
	margin-top: 10px; 
}

.circle{
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.4);
	border-radius: 50%;
	margin-right: auto;
	margin-left: auto;
	vertical-align: middle;
	display: inline-block;
}
.popup{
	width: 500px;
	height: 500px;
}

.item{
	width: 150px;
	height: 150px;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 3%;
	margin-bottom: 3%;
}
.about{
	width: 100px;
	height: 100px;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 10%;
	margin-bottom: 3%;
}

.circle:before{
	height: 100%;
	vertical-align: middle;
	content: "";
	display: inline-block;
}

.content{
	vertical-align: middle;
	display: inline-block;
}

button{
	padding: 10px;
	background-color: #fff;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
	border: 1px #aaa solid;
	border-radius: 2px;
	cursor: pointer;
}
button:hover {
	background-color: #eaeaea;
};

/*Add Friend*/
#AddBlock img{
	display: inline-block;
}

.add_friend_textbox{
	min-width: 500px;
	padding:10px;
	margin: 5px;
}

.content{
	margin-left: auto;
	margin-right: auto;
	font-size: 14pt;
}

/*About*/
.about_layout{
}

.timeline_header::before{
	vertical-align: middle;
	content: "";
	display: inline-block;
}

.timeline_header{
	height: 15%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.timeline_header .title{
	font-size: 16pt;
	font-weight: bold;
	margin-top: 5px;
}

.timeline_header>img{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: auto;
}

.line{
	width: 15%;
	height: 1px;
	background-color: black;
	display: inline-block;
	vertical-align: middle;
	margin-left: 1%;
	margin-right: 1%;
}

.one-third{
	width: 20%;
	border-radius: 10%;
	height: 50%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: center;
	display: inline-block;
	border: 2px solid #cbcccc ;
}

.search_box{
	width: 100%;
	min-height: 20px;
	height: 7%;
	margin-top: 1%;
}

.search_box img{
	width: auto;
	height: 80%;
	vertical-align: top;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 3%;
}

.search_box>input{
	min-height: 20px;
	height: 70%;
	width: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	vertical-align: top;
	width: 25%;
	margin-left: 10px;
}

/*Search Result*/
.search_item{
	width: 20%;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}


.category{
	margin-top: 2%;
	font-size: 14pt;
}

.main_frame{

}

.frame_left{
	width: 20%;
	height:61%;
	display: inline-block;
	background-color: #dcdcdc;
	border: 1px solid #cbcccc;
	vertical-align: top;
}

.frame_main{
	height:61%;
	display: inline-block;
	width: 58%;
	background-color: #dcdcdc;
	border: 1px solid #cbcccc;
	vertical-align: top;
	overflow-y:scroll;
}

.frame_right{
	vertical-align: top;
	height:61%;
	display: inline-block;
	width: 20.9%;
	background-color: #dcdcdc;
	border: 1px solid #cbcccc;
}

/*Personal Timeline*/
.icon_group{
	height: 5%;
	margin-bottom: 2%;
	margin-top: 2%;
}

.icon_group>img{
	height: 90%;
	width: auto;
	margin: 1%;
}

.friend_item{
	margin: 1%;
	height: 40%;
	display:block;
}

.friend_item>img{
	margin-top: 10px;
	width: 40%;
	height: auto;
	display: block;
}

.friend_item>div{
	font-size: 12pt;
	margin: 10px;
}

.share_block::before{
	content: "";
	vertical-align: middle;
	height: 100%;
	display: inline-block;	
}

.share_block{
	width: 100%;
	height: 30%;
	vertical-align: middle;
	display: block;
	padding-top: 40px;
	padding-bottom: 20px;
}

.share_block img{
	width: auto;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.share_block .textbox{
	width: 100%;
	height: 90%;
	vertical-align: top;
}

.share_block .post_file{
	padding: 5px;
}


.share_block .post_info{
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	width: 70%;
}

/*Message Box*/
.main{
	height: 91%;
	margin-top:0.5%;
	position: relative;
}

.message_left{
	background-color: #c5c8c8;
	height: 100%;
	margin-right: 260px;
}

.message_bar{
	width: 250px;
	background-color: #c5c8c8;
	height: 100%;
	margin-right: 0%;
	position: absolute;
	right: 0px;
	top: 0px;
}

.message_bar>div{
	margin-top: 5%;
}

.message_bar_item{
	height: auto;
	width: 99%;
	padding: 20px 0px;
	vertical-align: top;
}

.message_bar_item .inner {
	height: auto;
	margin: 20px 0px;
}
.message_bar_item .inner:before{
	content: "";
	vertical-align: middle;
	height: 100%;
	display: inline-block;	
}

.message_bar_item img{
	width: 40%;
	height: auto;
	display: block;
	vertical-align: middle;
	margin-right: 7px;
}

.message_bar_item div{
	width: auto;
	display: block;
	vertical-align: middle;
	font-size: 14pt;
}

#message_box{
	height: 75%;
	width: 98%;

}

#file{
	margin-right: 1%;
}

.message_input>input{
	height: 9%;
	width: 90%;
	display: inline-block;
}

.message_input>button{
	height: 9%;
	width: 7%;
	margin-right: 1%;
	display: inline-block;
}

#up{
	vertical-align: top;
}

#down{
	vertical-align: bottom;
}

/*Backpack*/
#backpack_bar{
	display: inline;
}

.group_box{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
}
.group_box>div{
	display: inline-block;
}

.sort_area{
	width: 100%;
	background-color: #c5c8c8;
	font-weight: bold;
	padding: 10px;
	margin-top: 10px;
}

.add_block>div{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	height: 20%;
}

.add_block>img{
	height: 20%;
	width: auto;
}

.add_friend_image{
	width: 60%;
	height: auto;
}
